@import '../../variables/_variables.scss';

.GithubContainer {
  margin-left: 20px;

  @media (min-width: $desktopWidth) {
    margin-left: 0px;
  }
}

.Link {
  @media (min-width: $desktopWidth) {
    color: $midPurple;
    margin-left: 20px;
  }
}
