@import '../../variables/_variables.scss';

.ProjectListContainer {
  background-color: $darkPurple;

  @media (min-width: $desktopWidth) {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    padding: 60px 0;
  }

  .Projects {
    @media (min-width: $desktopWidth) {
      width: 50%;
    }
  }

  .ProjectDetails {
    @media (min-width: $desktopWidth) {
      width: 45%;
    }
  }

  .BackLink {
    padding: 0 35px;
  }

  .BackLinkCopy {
    color: $midPurple;
    margin-left: 5px;
  }

  .NameCopyContainer {
    margin-top: 40px;

    @media (min-width: $desktopWidth) {
      margin-top: 45px;
      margin-bottom: 10px;
    }
  }

  .TitleCopy {
    color: #fff;
    font-size: 30px;
    padding: 0px 35px 0px;

    @media (min-width: $desktopWidth) {
      color: $darkPurple;
      font-size: 40px;
    }
  }

  .ProjectListView {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 70px 35px 0px;
    flex-wrap: wrap;
    row-gap: 50px;

    @media (min-width: $desktopWidth) {
      padding: 55px 35px 0px;
      width: 60%;
    }
  }
}
