@import '../../variables/_variables.scss';

.ContactContainer {
  background-color: #fff;
  padding: 50px 0 60px;

  .TitleCopy {
    color: $darkPurple;
    font-size: 30px;
    padding: 0px 35px 0px;

    @media (min-width: $desktopWidth) {
      color: $darkPurple;
      font-size: 40px;
      margin-bottom: 10px;
    }
  }

  .MessageandSocialContainer {
    @media (min-width: $desktopWidth) {
      display: flex;
      justify-content: space-between;
      margin-top: 50px;
    }
  }

  .MessageContainer {
    @media (min-width: $desktopWidth) {
      margin-left: 40px;
      width: 45%;
    }
  }

  .SocialMediaContainer {
    @media (min-width: $desktopWidth) {
      width: 45%;
    }
  }

  .BodyCopyContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 50px 0 30px;

    @media (min-width: $desktopWidth) {
      align-items: flex-start;
      margin-top: 0;
    }
  }

  .BodyCopy {
    color: $grey;
    font-family: 'Inter-Regular';
    font-size: 18px;

    @media (min-width: $desktopWidth) {
      font-size: 17px;
    }
  }

  .ContactFormContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;

    @media (min-width: $desktopWidth) {
      align-items: flex-start;
    }
  }

  .Input {
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom-color: $midPurple;
    border-bottom-width: 2px;
    color: $grey;
    font-family: 'Inter-Regular';
    font-size: 16px;
    margin-bottom: 20px;
    padding: 10px;
    width: 75%;

    @media (min-width: $desktopWidth) {
      width: 70%;
    }
  }

  .TextArea {
    background-color: transparent;
    border-color: $midPurple;
    border-width: 2px;
    color: $grey;
    font-family: 'Inter-Regular';
    font-size: 14px;
    line-height: 27px;
    margin: 20px 0 40px;
    padding: 5px 10px;
    width: 75%;

    @media (min-width: $desktopWidth) {
      margin-bottom: 70px;
      width: 70%;
    }
  }

  ::placeholder {
    color: $midPurple;
    font-family: 'Inter-Bold';
  }

  .Button {
    background-color: $midPurple;
    border-radius: 3px;
    color: #fff;
    font-family: 'Inter-Bold';
    margin: 0 0 40px;
    width: 80%;

    @media (min-width: $desktopWidth) {
      width: 60%;
    }
  }

  .IconContainer {
    display: flex;
    // justify-content: space-between;
    margin-bottom: 30px;
    padding: 0 170px;

    @media (min-width: $desktopWidth) {
      flex-direction: column;
      justify-content: space-around;
      height: 25%;
      margin-top: 100px;
      padding: 0;
    }
  }

  .MessageConfirmCopyContainer {
    background-color: $darkPurple;
    padding: 10px 0;
  }

  .MessageConfirmCopy {
    color: #fff;
    font-family: 'Inter-Medium';
    font-size: 17px;
    text-align: center;
  }

  @media (min-width: $desktopWidth) {
    flex: 1 1 auto;
    padding-top: 105px;
  }
}
