.ProductDetailsContainer {
  .NameCopyContainer {
    .TitleCopy {
    }
  }

  .TechnologyContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 140px;
  }

  .OverviewContainer {
    .OverviewTitle {
    }
  }
}
