@import '../../variables/_variables.scss';

.HeaderContainer {
  display: flex;
  justify-content: center;
  -webkit-box-shadow: 0px 1px 18px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 18px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 18px -8px rgba(0, 0, 0, 0.75);
  padding: 13px 0 13px 0;

  @media (min-width: $desktopWidth) {
    justify-content: space-between;
    padding: 20px 25px;
    width: 100%;
  }
}
