.ProjectPreviewContainer {
  align-items: center;
  background-color: #000;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  height: 190px;
  width: 45%;

  p {
    font-family: 'Inter-Bold';
    font-size: 13px;
  }
}

.ProjectPreviewContainer:hover {
  cursor: pointer;
}
