@import '../../variables/_variables.scss';

.ImageGalleryContainer {
  margin: 60px auto 0;
  width: 100%;

  @media (min-width: $desktopWidth) {
    margin-top: 0px;
  }
}

.DesktopImageGalleryContainer {
  color: #000;
  display: flex;
  flex-wrap: wrap;
}

.DesktopImage {
  border: 1px solid $midPurple;
  width: 50%;
}

// .image-gallery-left-nav .image-gallery-svg {
//   height: 10px;
// }
