@import '../../variables/_variables.scss';

.ProjectDetailsViewContainer {
  .NameCopyContainer {
    margin-top: 40px;

    .TitleCopy {
      color: #fff;
      font-size: 30px;
      padding: 0px 35px 0px;

      @media (min-width: $desktopWidth) {
        color: $darkPurple;
        font-size: 40px;
        padding-left: 0;
        margin-bottom: 25px;
      }
    }

    @media (min-width: $desktopWidth) {
      margin-top: 120px;
    }
  }

  .TechnologyContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px 0 30px;
    padding: 0 35px;

    @media (min-width: $desktopWidth) {
      justify-content: flex-start;
      padding: 0;
    }
  }

  .OverviewContainer {
    padding: 0 35px;

    .OverviewTitle {
      font-family: 'Inter-Bold';
      margin-bottom: 15px;

      @media (min-width: $desktopWidth) {
        font-size: 18px;
      }
    }

    .OverviewCopy {
      font-family: 'Inter-Regular';
      font-size: 15px;
      margin-bottom: 15px;

      @media (min-width: $desktopWidth) {
        font-size: 16px;
        width: 85%;
      }
    }

    .SecondaryOverviewCopy {
      margin-top: 15px;
    }

    .LinkCopy {
      font-family: 'Inter-Medium';
      font-size: 14px;
      margin-bottom: 5px;

      @media (min-width: $desktopWidth) {
        font-size: 16px;
      }
    }

    @media (min-width: $desktopWidth) {
      color: $grey;
      padding: 0;
    }
  }
}
