@import '../../variables/_variables.scss';

.FooterContainer {
  background-color: $darkPurple;
  color: #fff;
  font-size: 14px;
  padding: 23px 30px;
  position: relative;
  width: 100%;

  @media (min-width: $desktopWidth) {
    bottom: 0;
    padding: 18px 30px;
    position: fixed;
  }
}
